<header class="header">
  <div class="header__top">
    <div class="header__logo" routerLink="">
      <img [src]="logo" alt="Logo" class="header__logo--img">
    </div>
    <div class="header__content">
      <a href="#" class="content__link">
        <span>&#11177;</span>
        <p>How would you like <br> to file for FREE?</p>
      </a>
      <div class="content__lang">
        <button class="active">DE</button>
        <button>EN</button>
      </div>
    </div>
  </div>
  <nav class="header__nav">
    <a href="#">Who we are</a>
    <a href="#">Tax preparation checklist</a>
    <a href="#">Other resources</a>
    <a href="#">Contacts</a>
  </nav>
</header>
